*{
    margin:0%;
    padding:0%;
}
body {
         background: #000;
}
.header{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    /* padding-left:3rem;
    padding-right:55rem; */
    background-color: rgb(20,20,20);
    color:#e5e5e5;
    height:3rem;
    position: sticky;
    top: 0px;
}
.space1{
    width:1%;
}
.space2{
    width:30%;
}
h2{
    color:#e5e5e5;
    text-decoration: none;
    font-size: 15px;
    font-weight: 100;
    font-family: sans-serif;
}
.photo{
    height:2.5rem;
    border-radius:2px;
}
.name{
    height: 70%;
}
a:link, a:visited{
    color:#e5e5e5;
    text-decoration: none;
}
.mid{
    padding-left: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.para{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color:white;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    font-size: 1rem;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: start;
}
.button{
    margin:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(109, 109, 110, 0.57);
    color: white;
    cursor: pointer;
    border:none;
    font-size: 1.3rem;
    border-radius: 5px;
    height:3rem;
    width:9rem;
}
.button:hover{
    background-color: rgba(109, 109, 110, 0.7);
}
.photo1{
    height:100%;
    opacity: 95%;
}
.content{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color:#e5e5e5;
    margin-left: 50px;
}
/* image */
#i{ 
    margin:3px;
    width: 300px;
    height: 200px;
    border-radius: 5px;
   
}
.pr{
    opacity: 95%;
}
/* text */
#q1{
    margin:2px;
    width: 250px;
    height: 200px;
}
#i:hover {
    cursor: pointer;
}
.footer{
    color: grey;
    margin: 20px auto 0;
    max-width: 980px;
    padding: 0 4%;
}
/* .endfooter{
    color: grey;
    margin: 20px auto 0;
    max-width: 980px;
    padding: 0 4%;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 11px;
    margin-bottom: 15px;
    
} */




/*


/* .verticalLine{
    margin:0rem;
    padding-top:2rem;
    padding-bottom:1rem;
    background-color: rgba(245, 245, 245, 0.677);
    width:0.1rem;
    height:2rem;
}
.line{
    margin-left:2rem;
    background-color:rgba(245, 245, 245, 0.677);
    width:90%;
    height: 0.1rem;
}
.leftSide{ 
    padding-top: 2rem;
   align-items: center;
   padding-left:5rem;
   padding-right:10rem;
   font-size: 1.2rem;
   font-family: Helvetica , sans-serif;
}
.rightSide{
    align-items: center;
    padding-left:5rem;
    padding-right:10rem;
    font-size:0.9rem;
    font-weight: Helvetica , sans-serif;
}
.education{
    padding-top: 1rem;
    padding-bottom:1rem;
    display:flex;
    color:rgba(255, 255, 255, 0.916);
}
li{
    font-size: 1rem;
} */
